* {
  font-family: 'Epilogue', sans-serif;
  /* background-color: rgb(55, 66, 63); */
  color: white;
  text-align: center
}

body {
  background-image: linear-gradient(161deg, rgb(0,141,182) 0%, rgb(51, 200, 108) 100%);
  background-attachment: fixed;
}

h1, h2, p {
  text-shadow: 3px 5px 5px black;
}

 .userContainer > img {
  margin: 0 auto;
  width: 25%;
  box-shadow: 3px 5px 5px black;
  border-radius: 50%;
}

.followerContainer {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

img {
  margin: 0 auto;
  box-shadow: 3px 5px 5px black;
  border-radius: 5px;
}