* {
  font-family: 'Epilogue', sans-serif;
  /* background-color: white; */
  color: white;
}

 img {
  box-shadow: 3px 3px 3px mediumslateblue;
}

body {
  background-image: linear-gradient(161deg, rgb(0,141,182) 0%, rgb(200,85,51) 100%);
  background-attachment: fixed;
}